# Ignore all files in the COCO-Home-Objects directory
training/COCO-Home-Objects/*
.venv/
__pycache__/
.vscode/
.ipynb_checkpoints/
.DS_Store

training/best_model_18_80_pazienza_4_10.pth
saved_models/best_model.pth
